/* Search.css */

.search-campaigns {
    position: relative;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #4a4a4a; /* Dark gray background */
    border-radius: 50px; /* Rounded corners */
    padding: 8px 12px;
    width: 280px;
    height: 35px;
    margin: 0 auto; /* Center the search bar */
    
  }
  
  .search-input {
    border: none;
    outline: none;
    background: transparent;
    color: white; /* White text color */
    font-size: 15px;
    flex: 1;
  }
  
  .search-input::placeholder {
    color: #d3d3d3; /* Light gray placeholder text */
  }
  
  .search-icon {
    font-size: 18px;
    color: white;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;

  }
  
  .search-result-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #4a4a4a;
  }
  
  .result-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #05a8e9;
  }
  
  .result-description {
    color: #fff;
  }
  
  .result-fname{
    color: white;
  }
  .search-result-link{
    text-decoration: none;
  }